extends ../layout

block content
    .container 
        h1 #{t('title-page.book_instance')}
        hr
        if messages && messages.success
            .alert.alert-success= messages.success
        if messages && messages.error
            .alert.alert-danger= messages.error
        h2 #{t('title-list.book_instance')}
        ul
            each bookInstance in bookInstances 
                li.disc
                    a(href="#") #{bookInstance.book_name}: #{bookInstance.imprint} - 
                    if bookInstance.status === status.Available
                        span.status-available #{bookInstance.status}
                    else if bookInstance.status === status.Loaned
                        span.status-loaned #{bookInstance.status}
                    else if bookInstance.status === status.Maintenance
                        span.status-maintenance #{bookInstance.status}

