extends ../layout

block content
  .container
    h1 #{t('author-page.title-page')}
    hr 
    include ../partials/notifications
    h2 #{t('author-page.title-list')}
    table.table.table-striped
      thead
        tr
          th #{t('author-page.name-col.id')}
          th #{t('author-page.name-col.first-name')} 
          th #{t('author-page.name-col.family-name')}
          th #{t('author-page.name-col.birth-day')}
          th #{t('author-page.name-col.death-day')}
          th #{t('author-page.name-col.name')}
          th #{t('author-page.name-col.url')}
          th #{t('author-page.name-col.action')}
      tbody
        each author in authors
          tr
            td
              a(href=`/author/${author.id}`)  #{author.id}
            td
              a(href=`/author/${author.id}`)  #{author.first_name}
            td= author.family_name
            td= author.date_of_birth
            td= author.date_of_death
            td#col-name_author= author.name
            td#col-url= author.url
            td
              //- Detail button
              button.btn.btn-info.btn-sm.mr-2.mb-2(type="button" data-toggle="modal" data-target="#detailAuthorModal" data-id=author.id data-first_name=author.first_name data-family_name=author.family_name data-date_of_birth=author.date_of_birth data-date_of_death=author.date_of_death data-name=author.name data-url=author.url) #{t('author-page.btn_info')}
              //- Edit button
              button.btn.btn-warning.btn-sm.mr-2.mb-2(type="button" data-toggle="modal" data-target="#editAuthorModal" data-id=author.id data-first_name=author.first_name data-family_name=author.family_name data-date_of_birth=author.date_of_birth data-date_of_death=author.date_of_death data-name=author.name data-url=author.url) #{t('author-page.btn_edit')}
              //- Delete form
              form(action=`/author/delete/${author.id}?_method=DELETE` method="POST"  style="display:inline;" onsubmit="return confirmDelete();")
                input(type="hidden" name="_method" value="DELETE")
                button.btn.btn-danger.btn-sm(type="submit") #{t('author-page.btn_delete')}
              //- Hidden element to pass confirmation message to JavaScript
              div#confirmMessage(data-message=t('author-page.confirm_delete'))


  include ../partials/AuthorModal

  block scripts
    script(src="/js/modals.js")
